#hiImGrace{
	font-family: "Royal Acidbath Open";
    color: #E29D00;
    font-size: 70px;
	font-weight: bold;
	margin: 0px;
}

#cow{
	width: 40%;
}

@media only screen and (max-width: 768px) {
	#hiImGrace{
		font-size: 60px;
	}

	#cow{
		width: 90%;
	}

}