/* NAVBAR */
.nav{
	font-family: 'Asul', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0px;
}

.navheadertext{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	line-height: 1;
}

#navtitle{
	font-size: 22px;
}

#navsubtitle{
	font-size: 16px;
}

.navheader{
	display: flex;
	flex-direction: row;
	margin-top: 20px;
	align-items: center;
	justify-content: center;
}

.navstars {
	overflow: hidden;
	white-space: nowrap;
	max-width: 85%;
	margin-top: 10px;
}

.navlink{
	margin: 0px;
}

.navlinks {
	display: flex;
	flex-direction: column;
	text-align: left;
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 50px;
	gap: 15px;
	width: 100%;
}

.navSeparator{
	overflow: hidden;
	white-space: nowrap;
}

@media only screen and (max-width: 800px) {
	.navheader{
		flex-direction: column;
		width: 75%;
	}


	#navtitle{
		font-size: 20px;
	}
	
	#navsubtitle{
		font-size: 14px;
	}

	.nav-links{
		font-size: 18px;
		margin-left: 5px;
	}

	.navstars{
		max-width: 70%;
	}

	.navSeparator{
		width: 80%;
	}
}