.sidebar {
	margin-top: 20px;
	margin-right: 10px;
	width: 20%;

	padding: 10px;
	border-style: solid;
	background-color: #FFF2D4;
}

@media screen and (max-width: 768px) {
	.sidebar{
		margin-right: 2px;
	}
}