.cowculatorBody{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}

.cowculatorText{
    width: 60%;
    display: flex;
    flex-direction: column;
}

.appStoreText{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90%;
}

.googlePlayBadge{
    width: 200px;
}

.blueMain{
    width: 35%;
    border-radius: 10px;
}

.buttonTile{
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--lavender-background);
    transition: 0.2s ease-out;
}

.buttonTile:hover{
    background-color: white;
    transition: 0.2s ease-in;
}

.tileLink{
    text-decoration: none;
}

.tileContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.privacyDetails li{
    margin-bottom: 5px;
}

@media only screen and (max-width: 768px) {
    .previewContainer{
        grid-template-columns: 1fr 1fr;
    }
}